﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="item.aspx.cs" MasterPageFile="~/site.master" Inherits="AsianHouse.Web.produkter.item" %>

<asp:Content ID="Content1" runat="server" ContentPlaceHolderID="MainContent">
<div style="text-align:center;">
  <img id="iItem" src="~/view.aspx?item=" runat="server" alt="Billede af vare" style="border-width:0px;border:1px solid #f00;" />
</div>

</asp:Content>