﻿
<%@ Page Language="C#" Title="Asian House &#174; - " MasterPageFile="~/site.master"
    AutoEventWireup="true" CodeBehind="varegruppe.aspx.cs" Inherits="AsianHouse.Web.produkter.varegruppe" %>

<%@ Register Assembly="AsianHouse.Controls" Namespace="AsianHouse.Controls" TagPrefix="cc1" %>
    
<asp:Content ID="Content1" runat="server" ContentPlaceHolderID="MainContent">
    <cc1:ItemGroupContent ID="ItemGroupContent1" runat="server" />
</asp:Content>