﻿<%@ Page MasterPageFile="~/site.master" Language="C#" AutoEventWireup="true" CodeBehind="default.aspx.cs" Inherits="asianhouse.info._default" %>
<asp:Content runat="server" ContentPlaceHolderID="MainContent">
<br/>
						<h1>Information</h1>
						<div class="center" style="width:500px;margin-left:auto;margin-right:auto;">
							<h2>Asian House Engros</h2>
							<table width="100%" >
								<tr>
									<td class="top" style="padding-right:10px;">
										<h3 style="border-bottom: 1px solid #f00;">Administration</h3>
										<p>
										Rønne Allé<br/>
										DK-7451 Sunds<br/>
										Danmark
										</p>
										<p class="fixedWidth">
											Tlf.: +45 97 14 10 27<br/>
											Fax : +45 97 14 11 33<br/>
											Bil : +45 40 42 10 27											
										</p>										
									</td>
									<td class="top" style="padding-left:10px;">
										<h3 style="border-bottom: 1px solid #f00;">Showroom / Lager</h3>
										<p>
										Genvejen 20<br/>
										DK-7451 Sunds<br/>
										Danmark
										</p>
										<p class="fixedWidth">
											Tlf.: +45 97 14 11 33<br/>
											Fax : +45 97 14 11 33											
										</p>
										
									</td>
								</tr>
							</table>
						</div>
</asp:Content>

