﻿@{
    ViewBag.Title = "Private";
}

<h1>@ViewBag.Title</h1>
<div class="center" style="width:500px;margin-left:auto;margin-right:auto;">
	<h2>Private kunder</h2>
	<table width="100%" >
		<tr>
			<td class="top" style="padding-right:10px;width:250px;">
				<h3>Kontakt Asian House for detaljerede produktoplysninger samt 
				informationer om nærmeste forhandler.</h3>
			</td>
			<td class="top" style="padding-left:10px;width:250px;">
				<h3 style="border-bottom: 1px solid #f00;">Asian House Engros</h3>
				<p>
				Genvejen 20<br/>
				DK-7451 Sunds<br/>
				Danmark<br/>
				(8 km nord for Herning)
				</p>
				<p class="fixedWidth">
					Tlf.: +45 97 14 10 27<br/>
					Bil : +45 40 42 10 27<br/>
					Fax : +45 97 14 11 33

				</p>										

			</td>

		</tr>

	</table>

</div>


