﻿@if(Request.IsAuthenticated) 
{
    <text>Logget ind som <b>@Context.User.Identity.Name</b>!

    @if(Context.User.IsInRole("admin")) 
    {
        <text>[ @Html.ActionLink("Admin", "LogOff", "Account") ]</text>
    }

    [ @Html.ActionLink("Log af", "LogOff", "Account") ]</text>
}
else {
    @:[ @Html.ActionLink("Log ind", "LogOn", "Account") ]
}
