﻿body 
{	
	background:		#696969;
	color:			#808080;
	font-family:	Verdana,sans-serif;
	font-size:		0.8em;
	text-align:		left;
}

table
{
	border-collapse: collapse;
}

td
{
	border-left: 0px;
	border-top: 0px;
	padding-top: 0px;
	padding-left: 0px;
}

img 
{
	border-width : 0; 
	border-style : none;
	border-color : inherit; 
}
h1
{
	text-align:center;
}

h2
{
	margin-top: 0pt;
	font-size: 1em;
}

.black
{
	background: #000000;
	vertical-align:top;
}

.center
{
	text-align: center;
}

.centerpage
{
	background: #444341;
	vertical-align: top;
}

.centertable
{
	margin-left: auto;
	margin-right: auto;
	width: 760px;
}
.top
{
	vertical-align:top;
}
.fixedWidth
{
	font-family: "Courier New";
}

a:link 
{
    color:#808080;  
    text-decoration:underline; 
    text-align: left;
}

a:visited 
{
    color:#808080; 
    text-decoration:underline;
    text-align: left;
}
  
a:active 
{
    color:#808080; 
    text-decoration:underline;
    text-align: left;
}
  
a:hover 
{
    color:#808080; 
    text-decoration:underline;
    text-align: left;
}
			
		