﻿@model List<AsianHouse.Domain.Model.ItemGroup>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Message</h2>

Navn:

<ul id="itemGroups">

    @foreach (var ig in Model)
    {
        <li>@ig.Name, @Html.ActionLink(ig.Name, "Details", "ItemGroup", new { Id = ig.Id }, null)</li>
    }
</ul>

