﻿@{
    ViewBag.Title = "Forside";
}

<br/>
<h1>Boligindretning - engros</h1>
<h3 class="center">Møbler, interiør, gaveartikler, skulpturer og dekoration</h3>
<p class="center">					
	<applet id="Java3" name="Java3" code="photoalbum.class" codebase="http://www.asianhouse.dk" height="414" width="460" alt="præsentation" >
	    <param name="developer" value="Demicron (www.demicron.se)"/>
	    <param name="userinterface" value="standardui"/>
	    <param name="standardui.maincolor" value="444341"/>
	    <param name="standardui.usepausebutton" value="no"/>
	    <param name="transtime" value="1000"/>
	    <param name="timeout" value="120000"/>
	    <param name="pause" value="1000"/>
	    <param name="minframenr" value="110"/>
	    <param name="bgcolor" value="000000"/>
	    <param name="fxmod0" value="burnfxmod"/>
	    <param name="fxmod1" value="rotatefxmod"/>
	    <param name="fxmod2" value="pixel2fxmod"/>
	    <param name="fxmod3" value="pixelfxmod"/>
	    <param name="fxmod4" value="shatterfxmod"/>
	    <param name="fxmod5" value="hbombfxmod"/>
	    <param name="fxmod6" value="pixel3fxmod"/>
	    <param name="fxmod7" value="pixelfxmod"/>
	    <param name="fxmod8" value="shatterfxmod"/>
	    <param name="fxmod9" value="hbombfxmod"/>
	    <param name="image0" value="billeder/forside/forside1.jpg"/>
	    <param name="image1" value="billeder/forside/forside2.jpg"/>
	    <param name="image2" value="billeder/forside/forside3.jpg"/>
	    <param name="image3" value="billeder/forside/IMG_1067.jpg"/>
	    <param name="image4" value="billeder/forside/IMG_1673.JPG"/>
	    <param name="image5" value="billeder/forside/IMG_1077.JPG"/>
	    <param name="image6" value="billeder/forside/IMG_1685.JPG"/>
    </applet>
</p>
<br/>
